body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
	background-color:white;
	margin: 0;
}

#content {
	padding: 20px 30px;
	max-width: 800px;
	margin: 0 auto;
}

#nav {
	padding: 1px 10px;
    background-color: #9EDBCF;
	max-width: 100%;
	position: relative;
	margin: 0 auto;
}

#map {
	padding-top: 10px;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

#imgcontainer {
	max-width: 800px;
	margin: 0 auto;
}

img#picture {
	max-width: 50%;
	border: 2px solid white;
	border-top: none;
	border-bottom: none;
    box-sizing: border-box;
	display: inline;
}

h1 {
    font-family: "Trajan Pro", Palatino, serif;
    color: #9EDBCF;
    font-size: 187.5%;
	line-height: 200%;
	max-width: 800px;
	margin: 0 auto;
}

#small {
	line-height: 140%;
	font-size: 125%;
	color: #404040;
}

p1 {
	font-family: "Nirmala UI", Helvetica, sans-serif;
    color: #404040;
	display: block;
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 10px;
}

#bigger {
    font-size: 125%;
	font-weight: bold;
	line-height: 160%;
}

#smaller {
    font-size: 100%;
	font-weight: bold;
	line-height: 150%;
}

#text {
    font-size: 100%;
	line-height: 150%;
}

.table {
	font-size: 100%;
	line-height: 100%;
	padding: 8px;
	margin: 0 auto;
}

table {
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
	color: #404040;
}

ul {
    padding: 0px;
    
}

ul li {
    display: inline;
    margin-right: 5px;
	
}

ul li a {
	font-family: "Poor Richard", Verdana, sans-serif;
	font-size: 120%;
    background-color: #9EDBCF;
    padding: 0px 10px;
    text-decoration: none;
    color: #404040;
	transition: color 0.3s ease;
}

ul li a.active {
    background-color: #9EDBCF;
    color: white;
}

ul li a:hover:not(.active) {
    background-color: #9EDBCF;
    color: white;
}

/* Dropdown Button */
.dropbtn {
    background-color: #9EDBCF;
    color: #404040;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	border-radius: 4px 4px 4px 4px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #9EDBCF;
	color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	right:0;
	z-index: 5000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: white;
	background-color: #555
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}